@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* import font */

:root {
    --color1: #000000;
    --color2: #F7B900;
    --color3: #AA010A;
    --font1: 'Exo 2', sans-serif;
    --font2: 'Montserrat', sans-serif;
    --font3: 'Bebas Neue', cursive;
}

.font-exo-regular {
    font-family: var(--font1);
    font-weight: 400;
}

.font-exo-medium {
    font-family: var(--font1);
    font-weight: 500;
}

.font-exo-semibold {
    font-family: var(--font1);
    font-weight: 600;
}

.font-exo-bold {
    font-family: var(--font1);
    font-weight: 700;
}

.font-montserrat-regular {
    font-family: var(--font2);
    font-weight: 400;
}

.font-montserrat-medium {
    font-family: var(--font2);
    font-weight: 500;
}

.font-montserrat-semibold {
    font-family: var(--font2);
    font-weight: 600;
}

.font-montserrat-bold {
    font-family: var(--font2);
    font-weight: 700;
}

.font-bebas {
    font-family: var(--font3);
}

.color1 {
    color: var(--color1);
}

.bg-color1 {
    background-color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.bg-color2 {
    background-color: var(--color2);
}

.color3 {
    color: var(--color3);
}

.bg-color3 {
    background-color: var(--color3);
}